<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Posts - Django Blog</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <h1>Posts</h1>
  <p><a href="{% url 'blog:post_create' %}">Create new post</a></p>
  <ul>
  {% for post in posts %}
      <li><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a> - {{ post.author }} - {{ post.published_date }}</li>
  {% empty %}
    <li>No posts yet.</li>
  {% endfor %}
  </ul>
  <p><a href="/">Home</a></p>
</body>
</html>